[submodule "protocol"]
	path = protocol
	url = https://github.com/star122o/crescent-protocol
[submodule "auth"]
	path = auth
	url = https://github.com/star122o/crescent-auth
[submodule "minecraft-data"]
	path = minecraft-data
	url = https://github.com/PrismarineJS/minecraft-data
